fastapi
uvicorn[standard]
langchain
langchain-openai
langchain-milvus
openai
pymupdf
python-docx
pandas
xlrd
openpyxl
pymilvus
python-dotenv
tiktoken
pytesseract
pillow
python-multipart
langchain-community
sqlalchemy
autocorrect
langdetect
pyodbc
Speller
matplotlib
chromadb